/* ------------Header------------ */
.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.nav-menu {
  display: none;
}

.address-menu {
  display: none;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-header {
  color: #2e2f42;
}

.open-mobile-menu-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 0;
  cursor: pointer;
}

.open-mobile-menu-icon {
  fill: #2f2f37;
}

/* ------------MAIN CONTENT------------ */

/* ------------Hero-section------------ */

/* ------------Features-section------------  */

/* ------------Members-section------------ */

/* ------------Portfolio-section------------ */

/* ------------Footer------------ */

/* ------------ Backdrop ------------ */

/* ------------ Modal Window ------------ */
